<%
const {docs, codes, helpers, pkg} = locals
%># <%- pkg.name %>
**版本** ：<%- pkg.version %>

<%- pkg.description %>

## 快速开始

### 安装
<%  %>```bash
<%- helpers.installCode || 'npm i '+ (helpers.devInstall? '-D ' : '') + pkg.name %>
<%  %>```<% if(helpers.importCode) { %>

### 引入
<%  %>```js
<%- helpers.importCode %>
<%  %>```
<% } %><% if(helpers.exportCode) { %>

### 导出
<%  %>```js
<%- helpers.exportCode %>
<%  %>```
<% } %><% if(helpers.cliUsages&&helpers.cliUsages.length) { %>

<% if(helpers.remark) { %>

<%- helpers.remark %>
<% } %><% if(codes&&codes.length) { %>

## 代码演示
<%-
    helpers.renderCode
        &&helpers.renderCode(codes)
%>
<% } %><% if(docs) { %>

## API文档
<%- docs %>
<% } %><% if(helpers.postfixes&&helpers.postfixes.length) { %> <!-- 渲染后缀内容  -->
<% helpers.postfixes.forEach(postfix=>{ %>
<% if(postfix.id) { %>

<a name="<%- postfix.id %>"></a>
<% } %><% if(postfix.title) { %>

## <%- postfix.title %>
<% } %><% if(postfix.desc) { %>
> <%- postfix.desc %>
<% } %><% if(postfix.content) { %>
<%- postfix.content %>
<% }
})
} %>

### 命令行使用文档
<% helpers.cliUsages.forEach(usage=>{ %>
<%  %>```
<%- usage %>
<%  %>```
<% }) %>
<% } %>
